<a href="https://colab.research.google.com/github/Jinwooseol/Numpy-and-Pandas/blob/main/20220406_group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from numpy.random import randint

In [ ]:
df1 = pd.DataFrame(randint(10, 100, (3, 4)))
print(df1)

x = df1 > 50
print(x)
print(df1.loc[:,x.loc[0]])

    0   1   2   3
0  44  51  10  99
1  90  91  90  60
2  99  60  30  59
       0     1      2     3
0  False  True  False  True
1   True  True   True  True
2   True  True  False  True
    1   3
0  51  99
1  91  60
2  60  59

In [ ]:
# Create one column pd DataFrame
df1 = pd.DataFrame(np.arange(10, 50, 10))
print(df1)
print('-'*20)

# Insert column by using original datas
# df1.insert(1, 1, np.arange(-10, -50, -10))
df1[1] = df1[0] * -1   # Similar with dictonary
print(df1)
print('-'*20)

# Insert columns by using dictonary way
df1[2] = pd.Series(list('AABB'))
# df1.insert(2, 2, pd.Series(list('AABB)))
df1[3] = pd.Series(list('XYXY'))
print(df1)
print('-'*20)

# Reindex the columns
df1 = df1.reindex([2, 3, 0, 1], axis = 1)  # Not in-place
print(df1)
print('-'*20)

# Rename the columns
df1.columns = ['AB', 'XY', 'S1', 'S2']
print(df1)
print('-'*20)

# Set index using columns
df1.set_index(['AB', 'XY'], inplace = True)
print(df1)
print('-'*20)

# Reset
df1.reset_index(inplace = True)
print(df1)

    0
0  10
1  20
2  30
3  40
--------------------
    0   1
0  10 -10
1  20 -20
2  30 -30
3  40 -40
--------------------
    0   1  2  3
0  10 -10  A  X
1  20 -20  A  Y
2  30 -30  B  X
3  40 -40  B  Y
--------------------
   2  3   0   1
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40
--------------------
  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40
--------------------
       S1  S2
AB XY
A  X   10 -10
   Y   20 -20
B  X   30 -30
   Y   40 -40
--------------------
  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40

# Groupby

In [ ]:
print(df1)
g1 = df1.groupby('AB') # Make groups
print(g1.groups)
print('-'*20)

print(g1.first())
print('-'*20)

print(g1.last())
print('-'*20)

print(g1.get_group('A'))
print('-'*20)

print(g1.sum())
print('-'*20)

print(g1.prod())

  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40
{'A': [0, 1], 'B': [2, 3]}
--------------------
   XY  S1  S2
AB
A   X  10 -10
B   X  30 -30
--------------------
   XY  S1  S2
AB
A   Y  20 -20
B   Y  40 -40
--------------------
  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
--------------------
    S1  S2
AB
A   30 -30
B   70 -70
--------------------
      S1    S2
AB
A    200   200
B   1200  1200

In [ ]:
print(df1)

g1 = df1.groupby(['AB', 'XY'])
print(g1.sum())

  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40
       S1  S2
AB XY
A  X   10 -10
   Y   20 -20
B  X   30 -30
   Y   40 -40

In [ ]:
# df1.set_index(['AB', 'XY'], inplace=True)
print(df1)

       S1  S2
AB XY
A  X   10 -10
   Y   20 -20
B  X   30 -30
   Y   40 -40

# Groupby using level in Multi-index

In [ ]:
print(df1)
g1 = df1.groupby(level = 0)
print(g1.sum())

g2 = df1.groupby(level = 1)
print(g2.sum())

g3 = df1.groupby(level = [0, 1])
print(g3.sum())

       S1  S2
AB XY
A  X   10 -10
   Y   20 -20
B  X   30 -30
   Y   40 -40
    S1  S2
AB
A   30 -30
B   70 -70
    S1  S2
XY
X   40 -40
Y   60 -60
       S1  S2
AB XY
A  X   10 -10
   Y   20 -20
B  X   30 -30
   Y   40 -40

In [ ]:
df1.reset_index(inplace = True)
print(df1)

  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40

In [ ]:
df1_t = df1.T  # Transpose
print(df1_t)

      0    1    2    3
AB    A    A    B    B
XY    X    Y    X    Y
S1   10   20   30   40
S2  -10  -20  -30  -40

In [ ]:
x = df1_t.groupby(df1_t.loc['AB'], axis = 1)
print(x.sum())
print('-'*20)

print(x.agg(np.sum)) # Function apply

AB    A    B
AB   AA   BB
XY   XY   XY
S1   30   70
S2  -30  -70
--------------------
AB    A    B
AB   AA   BB
XY   XY   XY
S1   30   70
S2  -30  -70

In [ ]:
print(df1)
print(df1.groupby('AB').agg(lambda x:x+x))

  AB XY  S1  S2
0  A  X  10 -10
1  A  Y  20 -20
2  B  X  30 -30
3  B  Y  40 -40
          XY
AB
A   [XX, YY]
B   [XX, YY]

# Groupby 활용 예제

# 축제 시작일자 기준 월별로 축제 수 얻기

In [ ]:
pd_data = pd.read_csv('/content/drive/MyDrive/인공지능 학습/Data/전국문화축제표준데이터_utf8.csv', encoding = 'utf8', header = [0])
print(pd_data.head(5))
print(pd_data.columns)

data = pd_data.loc[:,['축제명', '축제시작일자']]
data['축제시작일자'] = data['축제시작일자'].astype('datetime64')
data['month'] = data['축제시작일자'].dt.month
print(data)

g1 = data.groupby('month')
print(g1.count())    # 각 월별 시작되는 축제의 수

                                                 축제명                   개최장소  \
0                                       제1회 대청호 벚꽃축제  대전광역시 동구 신상동 282번지 일원
1  코로나19 확산 방지를 위해 공연행사가 취소되었으니 향후 일정이 정해지는대로 업데이...           수영구 광안리해변 일원
2                                              강감찬축제                 온라인 개최
3                                          천만송이 국화축제                 중앙체육공원
4                                            담양대나무축제          죽녹원 및 관방제림 일원

       축제시작일자      축제종료일자                                               축제내용  \
0  2019-04-05  2019-04-07                            벚꽃축제, 벚꽃가요제, 벚꽃길 걷기대회 등
1  2021-12-31  2021-12-31  코로나19 확산 방지를 위해 공연행사가 취소되었으니 향후 일정이 정해지는대로 업데이...
2  2021-10-14  2021-10-17  강감찬 장군 출병식 및 전승행렬 거리 퍼레이드, 고려마을 테마 체험부스, 강감찬 장...
3  2022-10-28  2022-11-06                                               국화축제
4  2022-05-01  2022-05-05                            대나무 관련 전시, 체험, 공연, 판매 등

                     주관기관       주최기관                 후원기관          전화번호  \
0  대전광역시 동구청(대행사: 대전문화방송)  대전광역시 동구청                  NaN  042-251-6685
1                     수영구   수영구축제위원회                  부산시  051-610-4062
2                     관악구        관악구                  NaN   02-879-5603
3              익산시 농업기술센터        익산시                  익산시  063-859-4977
4           (사)담양대나무축제위원회  전라남도 담양군청  문화체육관광부+전라남도+한국관광공사  061-380-3152

                                           홈페이지주소                      관련정보  \
0                         http://www.donggu.go.kr                       NaN
1                        www.suyeong.go.kr/eobang              코로나로 인한 행사취소
2  http://www.gwanak.go.kr/html/gang/sub/sub.html                       NaN
3      https://www.iksan.go.kr/gukhwa/index.iksan  국화전시,국화우수작품전시,농산물판매장,체험장
4                        www.bamboofestival.co.kr                       NaN

                         소재지도로명주소                 소재지지번주소         위도  \
0                             NaN        대전광역시 동구 신상동 282  36.353590
1               부산광역시 수영구 남천동로100     부산광역시 수영구 남천동148-15  35.145370
2  서울특별시 관악구 관악로 145, 교육사업과(관악구청)    서울특별시 관악구 봉천동 1570-1  37.478234
3                전라북도 익산시 하나로 322                     NaN  35.949730
4       전라남도 담양군 담양읍 메타프로방스 1길 17  전라남도 담양군 담양읍 학동리 586-1  35.322605

           경도     데이터기준일자   제공기관코드      제공기관명
0  127.498043  2021-12-17  3640000   대전광역시 동구
1  129.112369  2021-12-21  3380000  부산광역시 수영구
2  126.951501  2021-12-15  3200000  서울특별시 관악구
3  126.986127  2021-12-14  4680000   전라북도 익산시
4  127.001811  2022-01-13  4850000   전라남도 담양군
Index(['축제명', '개최장소', '축제시작일자', '축제종료일자', '축제내용', '주관기관', '주최기관', '후원기관',
       '전화번호', '홈페이지주소', '관련정보', '소재지도로명주소', '소재지지번주소', '위도', '경도', '데이터기준일자',
       '제공기관코드', '제공기관명'],
      dtype='object')
                                                    축제명     축제시작일자  month
0                                          제1회 대청호 벚꽃축제 2019-04-05      4
1     코로나19 확산 방지를 위해 공연행사가 취소되었으니 향후 일정이 정해지는대로 업데이... 2021-12-31     12
2                                                 강감찬축제 2021-10-14     10
3                                             천만송이 국화축제 2022-10-28     10
4                                               담양대나무축제 2022-05-01      5
...                                                 ...        ...    ...
999                                          제2회 상록수문화제 2014-09-27      9
1000                                        안산시도서관책문화축제 2014-10-14     10
1001                                             감물감자축제 2021-06-18      6
1002                                      2021 전국생활문화축제 2021-10-08     10
1003                                    제3회 예천국제스마트폰영화제 2021-11-20     11

[1004 rows x 3 columns]
       축제명  축제시작일자
month
1       49      49
2       14      14
3       35      35
4       94      94
5      119     119
6       42      42
7       47      47
8       76      76
9      133     133
10     290     290
11      63      63
12      42      42

# 고객별 매출합

In [ ]:
pd_data = pd.read_csv('/content/drive/MyDrive/인공지능 학습/Data/invoices_customers.csv', header = [0])
#print(pd_data.head(5))

data = pd_data.loc[:,['CustomerId', 'Total']]
print(data.head(5))

x = data.groupby('CustomerId').sum()
print(x)
print(x.sort_values('Total', ascending = False).head(10)) # Top 10

   CustomerId  Total
0           1   3.98
1           1   3.96
2           1   5.94
3           1   0.99
4           1   1.98
            Total
CustomerId
1           39.62
2           37.62
3           39.62
4           39.62
5           40.62
6           49.62
7           42.62
8           37.62
9           37.62
10          37.62
11          37.62
12          37.62
13          37.62
14          37.62
15          38.62
16          37.62
17          39.62
18          37.62
19          38.62
20          39.62
21          37.62
22          39.62
23          37.62
24          43.62
25          42.62
26          47.62
27          37.62
28          43.62
29          37.62
30          37.62
31          37.62
32          37.62
33          37.62
34          39.62
35          37.62
36          37.62
37          43.62
38          37.62
39          38.62
40          38.62
41          37.62
42          39.62
43          40.62
44          41.62
45          45.62
46          45.62
47          37.62
48          40.62
49          37.62
50          37.62
51          38.62
52          37.62
53          37.62
54          37.62
55          37.62
56          37.62
57          46.62
58          38.62
59          36.64
            Total
CustomerId
6           49.62
26          47.62
57          46.62
46          45.62
45          45.62
37          43.62
28          43.62
24          43.62
7           42.62
25          42.62

# 부산 지하철 역별 승하차 인원수

In [ ]:
pd_data = pd.read_csv('/content/drive/MyDrive/인공지능 학습/Data/부산교통공사_시간대별 승하차인원_utf8.csv', encoding = 'utf8', header=[0])
print(pd_data.head(5))
print(pd_data.columns)

data = pd_data.loc[:,['역명', '합계']]
x = data.groupby('역명').sum()
print(x)
print(x.sort_values('합계', ascending = False).head(10))   # Top 10

   역번호       역명         년월일 요일  구분    합계  01시-02시  02시-03시  03시-04시  04시-05시  \
0   95  다대포해수욕장  2022-01-01  토  승차  5142        0        0        0       10
1   95  다대포해수욕장  2022-01-01  토  하차  4430        0        0        0        1
2   95  다대포해수욕장  2022-01-02  일  승차  3429        0        0        0        7
3   95  다대포해수욕장  2022-01-02  일  하차  2992        0        0        0        0
4   95  다대포해수욕장  2022-01-03  월  승차  4323        0        0        0       19

   ...  15시-16시  16시-17시  17시-18시  18시-19시  19시-20시  20시-21시  21시-22시  \
0  ...      371      390      449      249      150      108      105
1  ...      320      329      283      161      124       83      117
2  ...      412      441      344      182       96      109       66
3  ...      304      255      191      158      120       76      104
4  ...      410      335      371      209      110       75       71

   22시-23시  23시-24시  24시-01시
0       39       10        3
1       82       36       18
2       23        6        0
3       80       37       14
4       33        4        0

[5 rows x 30 columns]
Index(['역번호', '역명', '년월일', '요일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
           합계
역명
1동래   1649183
1서면   3506142
1연산   1744766
2덕천    588142
2서면   2339079
...       ...
토  성   758648
하  단  1655521
해운대   1200468
호  포   132384
화  명   957308

[112 rows x 1 columns]
           합계
역명
1서면   3506142
2서면   2339079
사  상  1987291
부산역   1831702
1연산   1744766
자갈치   1702027
센텀시티  1678185
부  전  1655846
하  단  1655521
남  포  1654284

# 부산 요일별 승하차 인원수

In [ ]:
y = pd_data.loc[:, ['역명', '요일', '합계']]
print(y.groupby(['역명', '요일']).sum().sort_values('합계', ascending = False))

             합계
역명   요일
1서면  금   555385
     토   547709
     월   541947
     목   518391
     수   484420
...         ...
석  대 금     2496
     수     2427
     화     2332
     토     1792
     일     1446

[784 rows x 1 columns]