<a href="https://colab.research.google.com/github/Jinwooseol/Numpy-and-Pandas/blob/main/20220330_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Data Frame (DF)
- Pandas is upgrade(?) model of Numpy

$~$  

- Numpy and Pandas are **open source** that managed by someones in Github
- If you want some functions for Numpy or Pandas, then you can send to that magage team of Numpy and Pandas.  
They check your code and accept or reject your suggestions.

In [ ]:
import pandas as pd
import numpy as np

np_rng = np.random.default_rng()

In [ ]:
# a1 = np.arange(5,11)
# np.random.shuffle(a1)

# s1 = pd.Series(a1, list('abcdef')) # Old version
# print(s1)

s2 = pd.Series(np_rng.integers(5,11,6), list('abcdef'))
print(s2)

s3 = pd.Series(np_rng.integers(5,11,6), list('adcbef'))
print(s3)

print(s2 + s3) # Match the index

s4 = pd.Series(np_rng.integers(5,11,6), list('abcxtq'))
print(s4)
# If there are no matched index, then leave NaN
print(s2 + s4)
# Why dtype change from int64 to float64
print(s2.add(s4))
print(s2.add(s4, fill_value = 0)) # empty value = 0

a     8
b     6
c     8
d     6
e     8
f    10
dtype: int64
a     8
d     6
c     9
b     7
e     7
f    10
dtype: int64
a    16
b    13
c    17
d    12
e    15
f    20
dtype: int64
a    7
b    8
c    9
x    7
t    7
q    6
dtype: int64
a    15.0
b    14.0
c    17.0
d     NaN
e     NaN
f     NaN
q     NaN
t     NaN
x     NaN
dtype: float64
a    15.0
b    14.0
c    17.0
d     NaN
e     NaN
f     NaN
q     NaN
t     NaN
x     NaN
dtype: float64
a    15.0
b    14.0
c    17.0
d     6.0
e     8.0
f    10.0
q     6.0
t     7.0
x     7.0
dtype: float64

# Create DataFrame
- **pd.DataFrame**(data, index, columns)

In [ ]:
df1 = pd.DataFrame(np_rng.integers(100,110,(6, 4)), index=list('abcdef'), columns=list('ABCD'))
print(df1)

     A    B    C    D
a  108  103  103  100
b  105  107  102  106
c  107  109  100  106
d  105  101  108  104
e  109  105  103  101
f  105  104  103  104

**Using dictionary**

In [ ]:
s1 = pd.Series([1,2,3], list('abc'))
s2 = pd.Series([10,20,30], list('abc'))
print(s1)
print(s2)

df1 = pd.DataFrame({'S1':s1, 'S2':s2}) # Using dictionary
print(df1)

df2 = pd.DataFrame([s1,s1], ['S1', 'S2']) # index and columns changed
print(df2)

s3 = pd.Series([100,200,300,400], list('abcd'))
df2 = pd.DataFrame({'S1':s1, 'S2':s2, 'S3':s3})
print(df2)

s4 = pd.Series([10, 200, 30, 4], list('abce'))
df3 = pd.DataFrame({'S1':s1, 'S2':s2, 'S3':s3, 'S4':s4})
print(df3)

a    1
b    2
c    3
dtype: int64
a    10
b    20
c    30
dtype: int64
   S1  S2
a   1  10
b   2  20
c   3  30
    a  b  c
S1  1  2  3
S2  1  2  3
    S1    S2   S3
a  1.0  10.0  100
b  2.0  20.0  200
c  3.0  30.0  300
d  NaN   NaN  400
    S1    S2     S3     S4
a  1.0  10.0  100.0   10.0
b  2.0  20.0  200.0  200.0
c  3.0  30.0  300.0   30.0
d  NaN   NaN  400.0    NaN
e  NaN   NaN    NaN    4.0

# Attributes

In [ ]:
df1 = pd.DataFrame(np_rng.integers(100,110,(6, 4)), index=list('abcdef'), columns=list('ABCD'))
print(df1)
print(df1.dtypes) # dtypes of each columns
print(df1.index)
print(df1.columns)
print(df1.ndim) # Number of dimension
print(df1.shape)
print(df1.describe()) # Not an attribute

     A    B    C    D
a  102  101  106  104
b  104  106  100  108
c  106  104  104  105
d  103  103  108  107
e  104  101  109  100
f  101  104  103  108
A    int64
B    int64
C    int64
D    int64
dtype: object
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
2
(6, 4)
                A           B          C           D
count    6.000000    6.000000    6.00000    6.000000
mean   103.333333  103.166667  105.00000  105.333333
std      1.751190    1.940790    3.34664    3.076795
min    101.000000  101.000000  100.00000  100.000000
25%    102.250000  101.500000  103.25000  104.250000
50%    103.500000  103.500000  105.00000  106.000000
75%    104.000000  104.000000  107.50000  107.750000
max    106.000000  106.000000  109.00000  108.000000

# Merge DataFrames
- **pd.concat**([DF1, DF2], axis(=Optional), join(=Optional))  
- **axis = 0**: Same with **np.vstack** (default)
- **axis = 1**: Same with **np.hstack**
- **join = 'outer'**: Conclude NaN lines, if not matched  (default)
- **join = 'inner'**: Remove NaN lines (same with **dropna()**)

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
df2 = pd.DataFrame(np_rng.integers(-50,-10,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
print(df1)
print('-'*15)
print(df2)
print('-'*15)
print(pd.concat([df1, df2])) # np.vstack   (default axis = 0)
print('-'*15)
print(pd.concat([df1, df2], axis=1)) # np.hstack
print('-'*15)

   S1  S2  S3
a  35  44  28
b  26  11  46
c  14  33  25
d  12  49  48
e  48  17  49
---------------
   S1  S2  S3
a -11 -50 -50
b -17 -33 -22
c -23 -48 -14
d -43 -27 -46
e -31 -21 -15
---------------
   S1  S2  S3
a  35  44  28
b  26  11  46
c  14  33  25
d  12  49  48
e  48  17  49
a -11 -50 -50
b -17 -33 -22
c -23 -48 -14
d -43 -27 -46
e -31 -21 -15
---------------
   S1  S2  S3  S1  S2  S3
a  35  44  28 -11 -50 -50
b  26  11  46 -17 -33 -22
c  14  33  25 -23 -48 -14
d  12  49  48 -43 -27 -46
e  48  17  49 -31 -21 -15
---------------
   S1  S2  S3
a  35  44  28
b  26  11  46
c  14  33  25
d  12  49  48
e  48  17  49
a -11 -50 -50
b -17 -33 -22
c -23 -48 -14
d -43 -27 -46
e -31 -21 -15

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
df2 = pd.DataFrame(np_rng.integers(-50,-10,(5, 3)), index=list('abceg'), columns=['S1', 'S2', 'S4'])
print(df1)
print('-'*15)
print(df2)
print('-'*15)
print(pd.concat([df1, df2])) # np.vstack   (default axis = 0)
print('-'*15)
print(pd.concat([df1, df2], join='inner')) # remove NaN
print('-'*15)
print(pd.concat([df1, df2], axis = 1)) # np.hstack
print('-'*15)
print(pd.concat([df1, df2], axis = 1, join='inner'))

   S1  S2  S3
a  42  14  34
b  23  21  49
c  29  12  47
d  44  39  23
e  30  32  44
---------------
   S1  S2  S4
a -18 -25 -22
b -44 -17 -41
c -30 -28 -29
e -27 -26 -43
g -26 -22 -29
---------------
   S1  S2    S3    S4
a  42  14  34.0   NaN
b  23  21  49.0   NaN
c  29  12  47.0   NaN
d  44  39  23.0   NaN
e  30  32  44.0   NaN
a -18 -25   NaN -22.0
b -44 -17   NaN -41.0
c -30 -28   NaN -29.0
e -27 -26   NaN -43.0
g -26 -22   NaN -29.0
---------------
   S1  S2
a  42  14
b  23  21
c  29  12
d  44  39
e  30  32
a -18 -25
b -44 -17
c -30 -28
e -27 -26
g -26 -22
---------------
     S1    S2    S3    S1    S2    S4
a  42.0  14.0  34.0 -18.0 -25.0 -22.0
b  23.0  21.0  49.0 -44.0 -17.0 -41.0
c  29.0  12.0  47.0 -30.0 -28.0 -29.0
d  44.0  39.0  23.0   NaN   NaN   NaN
e  30.0  32.0  44.0 -27.0 -26.0 -43.0
g   NaN   NaN   NaN -26.0 -22.0 -29.0
---------------
   S1  S2  S3  S1  S2  S4
a  42  14  34 -18 -25 -22
b  23  21  49 -44 -17 -41
c  29  12  47 -30 -28 -29
e  30  32  44 -27 -26 -43

**DF1.merge**(DF2)

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), columns=['S1', 'S2', 'S3'])
df2 = pd.DataFrame(np_rng.integers(-50,-10,(5, 3)), columns=['S1', 'S2', 'S3'])
df1.insert(0,'lkey', list('abcde'))
df2.insert(0, 'rkey', list('abcde'))
print(df1)
print('-'*15)
print(df2)
print('-'*15)

print(df1.merge(df2, left_on='lkey', right_on='rkey'))

  lkey  S1  S2  S3
0    a  46  45  34
1    b  40  29  36
2    c  48  42  16
3    d  48  40  42
4    e  18  47  12
---------------
  rkey  S1  S2  S3
0    a -46 -18 -28
1    b -27 -31 -12
2    c -49 -31 -13
3    d -17 -38 -33
4    e -46 -17 -44
---------------
  lkey  S1_x  S2_x  S3_x rkey  S1_y  S2_y  S3_y
0    a    46    45    34    a   -46   -18   -28
1    b    40    29    36    b   -27   -31   -12
2    c    48    42    16    c   -49   -31   -13
3    d    48    40    42    d   -17   -38   -33
4    e    18    47    12    e   -46   -17   -44

# Add column

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
print(df1)
df1['S4'] = pd.Series(np_rng.integers(-50, -10, 5), index=list('abcde'))
print('-'*15)
print(df1)

   S1  S2  S3
a  25  27  44
b  29  10  35
c  21  16  43
d  31  44  44
e  49  16  18
---------------
   S1  S2  S3  S4
a  25  27  44 -41
b  29  10  35 -39
c  21  16  43 -26
d  31  44  44 -31
e  49  16  18 -43

**DF.insert**(column_position, name, data): In-place

In [ ]:
df1.insert(0, 'X0', pd.Series(np_rng.integers(100, 200, 5), index=list('abcde')))
print(df1)

ValueError: ignored

# Remove column
- DF.**drop**: Not In-place
- **axis = 0**: remove index line (default)
- **axis = 1**: remove column line

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
print(df1)
print(df1.drop('S3', axis=1))

   S1  S2  S3
a  27  42  10
b  25  38  27
c  27  37  28
d  43  17  11
e  39  49  38
   S1  S2
a  27  42
b  25  38
c  27  37
d  43  17
e  39  49

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
print(df1)
del df1['S3']
print(df1)

   S1  S2  S3
a  38  16  36
b  44  20  40
c  30  13  13
d  31  20  38
e  37  46  33
   S1  S2
a  38  16
b  44  20
c  30  13
d  31  20
e  37  46

# Add and remove Index(row)

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10,50,(5, 3)), index=list('abcde'), columns=['S1', 'S2', 'S3'])
print(df1)
s1 = pd.Series([0,1,2], index=df1.columns)
print(s1)
print(pd.concat([df1, s1.to_frame().T])) # Add row
print(df1.drop(['c', 'd', 'e'], axis=0))

   S1  S2  S3
a  18  34  11
b  29  38  29
c  25  21  14
d  41  40  27
e  25  19  11
S1    0
S2    1
S3    2
dtype: int64
   S1  S2  S3
a  18  34  11
b  29  38  29
c  25  21  14
d  41  40  27
e  25  19  11
0   0   1   2
   S1  S2  S3
a  18  34  11
b  29  38  29

DF.**to_numpy**(): View

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10, 50, (3,2)), index=list('abc'), columns=['S1', 'S2'])
print(df1)
a1 = df1.to_numpy()
print(a1)
print('-'*10)
a1[0] = 0  # affected to original data
print(df1)
print(a1)

   S1  S2
a  45  20
b  44  30
c  24  47
[[45 20]
 [44 30]
 [24 47]]
----------
   S1  S2
a   0   0
b  44  30
c  24  47
[[ 0  0]
 [44 30]
 [24 47]]

# Selection
- List: Select columns
- Range: Select index

In [ ]:
df1 = pd.DataFrame(np_rng.integers(10, 50, (10,5)), index=list('abcdefghij'), columns=['S1', 'S2', 'S3', 'S4', 'S5'])
print(df1)
print('-'*22)

# Column selection
print(df1['S1'])
print(df1[['S1', 'S2']]) # Acceptable list selection
print(df1['S1':'S3'])  # Not acceptable range selection

# Row selection
# print(df1['a'])   # Not acceptable
print(df1['a':'a']) # Acceptable range selection
print(df1['a','g'])

   S1  S2  S3  S4  S5
a  25  39  39  14  15
b  15  26  24  39  45
c  47  28  27  15  46
d  34  18  19  34  15
e  48  43  26  35  33
f  23  30  32  28  32
g  36  44  12  39  32
h  10  27  28  29  16
i  30  10  46  26  16
j  48  43  21  19  34
----------------------
a    25
b    15
c    47
d    34
e    48
f    23
g    36
h    10
i    30
j    48
Name: S1, dtype: int64
   S1  S2
a  25  39
b  15  26
c  47  28
d  34  18
e  48  43
f  23  30
g  36  44
h  10  27
i  30  10
j  48  43
Empty DataFrame
Columns: [S1, S2, S3, S4, S5]
Index: []
   S1  S2  S3  S4  S5
a  25  39  39  14  15

KeyError: ignored

**DF.loc[index, columns]**
- Best way for selection

In [ ]:
print(df1)
print(df1.loc['a']) # get pd.Series
print(df1.loc['d':'g', ['S1', 'S3']]) # get pd.DataFrame

   S1  S2  S3  S4  S5
a  17  22  25  24  14
b  46  30  45  43  31
c  49  29  16  15  14
d  44  13  12  43  29
e  37  30  44  29  30
f  48  19  49  39  42
g  12  27  22  41  40
h  10  44  45  22  24
i  41  22  11  36  16
j  35  37  20  22  31
S1    17
S2    22
S3    25
S4    24
S5    14
Name: a, dtype: int64
   S1  S3
d  44  12
e  37  44
f  48  49
g  12  22