<a href="https://colab.research.google.com/github/Jinwooseol/Numpy-and-Pandas/blob/main/20220404_Statistic_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from numpy.random import randint

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
print(df1)
print(df1.describe()) # NaN or can not calculatable something does not include

print('-'*50)
df1 = df1.reindex(list('abcd'))
print(df1)
print(df1.describe())
print(df1.count())
print(df1.count(axis=1))
print(df1.mean())
print(df1.std())
print(df1.min())
print(df1.max())
print(df1.quantile([0, 0.25, 0.5, 0.75, 1]))
# print(df1.quantile(0.25)) # 25%
# print(df1.quantile(0.5))  # 50%
# print(df1.quantile(0.75)) # 75%

    A   B   C   D
a  13  18  19  17
b  18  16  17  14
c  17  15  13  15
               A          B          C          D
count   3.000000   3.000000   3.000000   3.000000
mean   16.000000  16.333333  16.333333  15.333333
std     2.645751   1.527525   3.055050   1.527525
min    13.000000  15.000000  13.000000  14.000000
25%    15.000000  15.500000  15.000000  14.500000
50%    17.000000  16.000000  17.000000  15.000000
75%    17.500000  17.000000  18.000000  16.000000
max    18.000000  18.000000  19.000000  17.000000
--------------------------------------------------
      A     B     C     D
a  13.0  18.0  19.0  17.0
b  18.0  16.0  17.0  14.0
c  17.0  15.0  13.0  15.0
d   NaN   NaN   NaN   NaN
               A          B          C          D
count   3.000000   3.000000   3.000000   3.000000
mean   16.000000  16.333333  16.333333  15.333333
std     2.645751   1.527525   3.055050   1.527525
min    13.000000  15.000000  13.000000  14.000000
25%    15.000000  15.500000  15.000000  14.500000
50%    17.000000  16.000000  17.000000  15.000000
75%    17.500000  17.000000  18.000000  16.000000
max    18.000000  18.000000  19.000000  17.000000
A    3
B    3
C    3
D    3
dtype: int64
a    4
b    4
c    4
d    0
dtype: int64
A    16.000000
B    16.333333
C    16.333333
D    15.333333
dtype: float64
A    2.645751
B    1.527525
C    3.055050
D    1.527525
dtype: float64
A    13.0
B    15.0
C    13.0
D    14.0
dtype: float64
A    18.0
B    18.0
C    19.0
D    17.0
dtype: float64
         A     B     C     D
0.00  13.0  15.0  13.0  14.0
0.25  15.0  15.5  15.0  14.5
0.50  17.0  16.0  17.0  15.0
0.75  17.5  17.0  18.0  16.0
1.00  18.0  18.0  19.0  17.0

**DF.cov**: Covariance  
**DF.corr**: Correlation  
**DF.pct_change**: From previous element, what percentage chagned  
- (new_value - old_value) / old_value

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
print(df1)

print(df1.cov())  # Covariance
print(df1.corr()) # Correlation
print(df1.pct_change())

    A   B   C   D
a  18  19  17  13
b  11  17  18  15
c  10  15  18  10
      A    B         C         D
A  19.0  8.0 -2.500000  2.500000
B   8.0  4.0 -1.000000  3.000000
C  -2.5 -1.0  0.333333 -0.166667
D   2.5  3.0 -0.166667  6.333333
          A         B         C         D
A  1.000000  0.917663 -0.993399  0.227901
B  0.917663  1.000000 -0.866025  0.596040
C -0.993399 -0.866025  1.000000 -0.114708
D  0.227901  0.596040 -0.114708  1.000000
          A         B         C         D
a       NaN       NaN       NaN       NaN
b -0.388889 -0.105263  0.058824  0.153846
c -0.090909 -0.117647  0.000000 -0.333333

**DF.corrwith**: Correlation with other DataFrame

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
df2 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
print(df1)
print(df2)
print(df1.corrwith(df2))

    A   B   C   D
a  12  11  12  15
b  14  11  10  13
c  15  12  17  10
    A   B   C   D
a  10  14  19  11
b  17  18  17  14
c  14  13  19  18
A    0.714575
B   -0.654654
C    0.720577
D   -0.999466
dtype: float64

**DF.rank**: Just rank  
**DF.cumsum**: Cumulative sum  
**DF.cumprod**: Cumulative product

- All default is **axis = 0**

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
print(df1)
print(df1.rank()) # default axis = 0
print(df1.rank(axis = 1))
print('-'*20)

print(df1.cumsum())
print(df1.cumsum(axis=1))
print('-'*20)

print(df1.cumprod())
print(df1.cumprod(axis=1))

    A   B   C   D
a  14  14  10  14
b  19  13  18  10
c  14  10  18  18
     A    B    C    D
a  1.5  3.0  1.0  2.0
b  3.0  2.0  2.5  1.0
c  1.5  1.0  2.5  3.0
     A    B    C    D
a  3.0  3.0  1.0  3.0
b  4.0  2.0  3.0  1.0
c  2.0  1.0  3.5  3.5
--------------------
    A   B   C   D
a  14  14  10  14
b  33  27  28  24
c  47  37  46  42
    A   B   C   D
a  14  28  38  52
b  19  32  50  60
c  14  24  42  60
--------------------
      A     B     C     D
a    14    14    10    14
b   266   182   180   140
c  3724  1820  3240  2520
    A    B     C      D
a  14  196  1960  27440
b  19  247  4446  44460
c  14  140  2520  45360

# Extend DataFrame

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
print(df1)

# First method
# df1.insert(4, 'X', list('YYN'))
# print(df1)

# Second method
df1['X'] = pd.Series(list('YYN'), index=list('abc'))
print(df1)
print(df1.dtypes)
print(df1.describe())

    A   B   C   D
a  17  12  13  10
b  16  17  19  18
c  19  16  10  19
    A   B   C   D  X
a  17  12  13  10  Y
b  16  17  19  18  Y
c  19  16  10  19  N
A     int64
B     int64
C     int64
D     int64
X    object
dtype: object
               A          B          C          D
count   3.000000   3.000000   3.000000   3.000000
mean   17.333333  15.000000  14.000000  15.666667
std     1.527525   2.645751   4.582576   4.932883
min    16.000000  12.000000  10.000000  10.000000
25%    16.500000  14.000000  11.500000  14.000000
50%    17.000000  16.000000  13.000000  18.000000
75%    18.000000  16.500000  16.000000  18.500000
max    19.000000  17.000000  19.000000  19.000000

# Change the dtypes
- astype('category'): change type to cagegory
- .cat.codes: numbering by category's order

In [ ]:
print(df1)
x = df1['X'].astype('category')
print(x.dtype)
print(x.cat.codes) # Y -> 1, N -> 0
df1['X'] = x.cat.codes
print(df1)
print(df1.describe())

    A   B   C   D  X
a  17  12  13  10  1
b  16  17  19  18  1
c  19  16  10  19  0
category
a    1
b    1
c    0
dtype: int8
    A   B   C   D  X
a  17  12  13  10  1
b  16  17  19  18  1
c  19  16  10  19  0
               A          B          C          D         X
count   3.000000   3.000000   3.000000   3.000000  3.000000
mean   17.333333  15.000000  14.000000  15.666667  0.666667
std     1.527525   2.645751   4.582576   4.932883  0.577350
min    16.000000  12.000000  10.000000  10.000000  0.000000
25%    16.500000  14.000000  11.500000  14.000000  0.500000
50%    17.000000  16.000000  13.000000  18.000000  1.000000
75%    18.000000  16.500000  16.000000  18.500000  1.000000
max    19.000000  17.000000  19.000000  19.000000  1.000000

In [ ]:
df1 = pd.DataFrame(randint(10, 20, (3, 4)), index = list('abc'), columns = list('ABCD'))
df1.insert(4, 'X', list('YNT'))
print(df1)

df1['X'] = df1['X'].astype('category').cat.codes
print(df1)

    A   B   C   D  X
a  16  19  18  10  Y
b  17  11  18  18  N
c  16  11  18  13  T
    A   B   C   D  X
a  16  19  18  10  2
b  17  11  18  18  0
c  16  11  18  13  1

# Create Date type
- **pd.date_range**
  - **periods**: Number of elements
  - **freq**: 'Y'=Year, 'M'=Month, 'D'=Day, 'S'=Second (Default = 'D')
  - Using for **log history**

In [ ]:
dates = pd.date_range("20220404",periods=6, freq='Y')
print(dates)

s1 = pd.Series(dates)
print(s1)
print(s1.dt.day)
print(s1.dt.year)

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
0   2022-12-31
1   2023-12-31
2   2024-12-31
3   2025-12-31
4   2026-12-31
5   2027-12-31
dtype: datetime64[ns]
0    31
1    31
2    31
3    31
4    31
5    31
dtype: int64
0    2022
1    2023
2    2024
3    2025
4    2026
5    2027
dtype: int64

# Change elements to Multi-index

In [ ]:
df1 = pd.DataFrame({'month':[1,4,7,10], 'year':[2012, 2012, 2013, 2013], 'sale':[55, 40, 84, 31]})
print(df1)

x = df1.set_index(['year', 'month'])
print(x)
print(x.index)
print(x.reset_index())

   month  year  sale
0      1  2012    55
1      4  2012    40
2      7  2013    84
3     10  2013    31
            sale
year month
2012 1        55
     4        40
2013 7        84
     10       31
MultiIndex([(2012,  1),
            (2012,  4),
            (2013,  7),
            (2013, 10)],
           names=['year', 'month'])
   year  month  sale
0  2012      1    55
1  2012      4    40
2  2013      7    84
3  2013     10    31

# stack, unstack
- **DF.stack**: Convert DataFrame to Series form

In [ ]:
s1 = pd.Series([1,2,3], list('abc'))
s2 = pd.Series([10,20,30], list('bac'))
df1 = pd.DataFrame({'S1':s1, 'S2':s2})
print(df1)

df1 = df1.stack()
print(df1)

df1 = df1.unstack()
print(df1)

   S1  S2
a   1  20
b   2  10
c   3  30
a  S1     1
   S2    20
b  S1     2
   S2    10
c  S1     3
   S2    30
dtype: int64
   S1  S2
a   1  20
b   2  10
c   3  30

In [ ]:
pd_data = pd.read_csv('/content/drive/MyDrive/인공지능 학습/Project/iris.data', header = None)
print(pd_data)
print(pd_data.describe())

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]
                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [ ]:
pd_data[4] = pd_data[4].astype('category').cat.codes
# ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
print(pd_data)
print(pd_data.corr()) # Co-relation

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]
          0         1         2         3         4
0  1.000000 -0.109369  0.871754  0.817954  0.782561
1 -0.109369  1.000000 -0.420516 -0.356544 -0.419446
2  0.871754 -0.420516  1.000000  0.962757  0.949043
3  0.817954 -0.356544  0.962757  1.000000  0.956464
4  0.782561 -0.419446  0.949043  0.956464  1.000000

# 전국횡단보도 중 몇 퍼센트가 점자블록이 있는가?

In [ ]:
pd_data = pd.read_csv('/content/drive/MyDrive/인공지능 학습/Project/전국횡단보도표준데이터.csv', encoding = 'utf8', header = [0])
print(pd_data.index)
print(pd_data.columns) 

print(pd_data.describe())
#print(pd_data[pd_data['점자블록유무'] == 'n'])

RangeIndex(start=0, stop=26654, step=1)
Index(['시도명', '시군구명', '도로명', '소재지도로명주소', '소재지지번주소', '횡단보도관리번호', '횡단보도종류',
       '자전거횡단도겸용여부', '고원식적용여부', '위도', '경도', '차로수', '횡단보도폭', '횡단보도연장',
       '보행자신호등유무', '보행자작동신호기유무', '음향신호기설치여부', '녹색신호시간', '적색신호시간', '교통섬유무',
       '보도턱낮춤여부', '점자블록유무', '집중조명시설유무', '관리기관명', '관리기관전화번호', '데이터기준일자',
       '제공기관코드', '제공기관명'],
      dtype='object')
             횡단보도종류            위도            경도           차로수         횡단보도폭  \
count  26654.000000  26654.000000  26653.000000  26654.000000  26654.000000
mean       1.860734     36.476869    127.418856      3.228784      5.556767
std        7.432648      0.967390      0.803071      1.972848      5.739736
min        1.000000     34.404489    126.124532      0.000000      0.000000
25%        1.000000     35.681591    126.872920      2.000000      4.000000
50%        1.000000     36.788215    127.100245      2.000000      5.810000
75%        1.000000     37.295291    127.657536      4.000000      6.500000
max       99.000000     37.972252    129.416923     15.000000    839.000000

             횡단보도연장       녹색신호시간       적색신호시간        제공기관코드
count  26654.000000  4551.000000  3167.000000  2.665400e+04
mean      12.300139    16.788178    76.030849  4.468078e+06
std        7.646358    13.180453   399.425037  5.920616e+05
min        0.000000     0.000000     0.000000  3.530000e+06
25%        6.780000     0.000000     0.000000  3.900000e+06
50%       10.000000    20.000000    55.000000  4.490000e+06
75%       16.000000    25.000000   120.000000  4.820000e+06
max      118.000000   115.000000  9999.000000  5.690000e+06
        시도명 시군구명  도로명 소재지도로명주소                 소재지지번주소 횡단보도관리번호  횡단보도종류  \
794    전라남도  무안군  승달로      NaN   전라남도 무안군 무안읍 교촌리 70-3        1       1
795    전라남도  무안군  승달로      NaN   전라남도 무안군 무안읍 교촌리 70-3        1       1
796    전라남도  무안군  승달로      NaN   전라남도 무안군 무안읍 교촌리 82-6        1       1
797    전라남도  무안군  승달로      NaN   전라남도 무안군 무안읍 교촌리 1050        1       1
798    전라남도  무안군  승달로      NaN  전라남도 무안군 무안읍 교촌리 117-9        1       1
...     ...  ...  ...      ...                     ...      ...     ...
9403   전라남도  무안군  승달로      NaN   전라남도 무안군 무안읍 교촌리 70-3        1       1
10896  전라남도  무안군  하마로      NaN  전라남도 무안군 무안읍 성남리 123-3        1       1
10925  전라남도  무안군  하마로      NaN  전라남도 무안군 무안읍 성남리 318-4        1       1
10983  전라남도  무안군  하마로      NaN  전라남도 무안군 무안읍 성남리 309-1        1       1
11218  전라남도  무안군  성안길      NaN    전라남도 무안군 무안읍 성내리 357        1       1

      자전거횡단도겸용여부 고원식적용여부         위도  ...  적색신호시간  교통섬유무  보도턱낮춤여부  점자블록유무  \
794                    n  34.992105  ...     NaN      n        y       n
795                    n  34.990995  ...     NaN      n        y       n
796                    n  34.990755  ...     NaN      n        y       n
797                    n  34.990212  ...     NaN      n        y       n
798                    n  34.989362  ...     NaN      n        y       n
...          ...     ...        ...  ...     ...    ...      ...     ...
9403                   n  34.992105  ...     NaN      n        y       n
10896                  n  34.984871  ...     NaN      n        y       n
10925                  n  34.984311  ...     NaN      n        y       n
10983                  n  34.983745  ...     NaN      n        y       n
11218                  n  34.990668  ...     NaN      n        y       n

      집중조명시설유무 관리기관명      관리기관전화번호     데이터기준일자   제공기관코드     제공기관명
794          n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
795          n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
796          n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
797          n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
798          n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
...        ...   ...           ...         ...      ...       ...
9403         n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
10896        n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
10925        n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
10983        n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군
11218        n  무안군청  061-450-5665  2021-08-27  4950000  전라남도 무안군

[113 rows x 28 columns]

In [ ]:
pd_data_dot = pd_data.loc[:, ['시도명', '시군구명', '도로명', '점자블록유무']]
print(pd_data_dot['점자블록유무'].hasnans) # 결측치 없음
pd_data_dot['점자블록유무'] = pd_data_dot['점자블록유무'].replace({'n':'N'})           # 'n'을 'N'으로 통일
print(pd_data_dot['점자블록유무'].astype('category'))
pd_data_dot['점자블록유무'] = pd_data_dot['점자블록유무'].astype('category').cat.codes # 'Y', 'N'을 수로 표현
print(pd_data_dot)
print(pd_data_dot.describe()) # mean -> 0.705785 ~= 70.6%
d1 = pd.value_counts(pd_data_dot['점자블록유무'])
print('-'*30)
print('점자블록유무 비율 (%)')
print(d1*100/d1.sum())

False
0        Y
1        Y
2        Y
3        Y
4        Y
        ..
26649    Y
26650    Y
26651    Y
26652    Y
26653    N
Name: 점자블록유무, Length: 26654, dtype: category
Categories (2, object): ['N', 'Y']
         시도명 시군구명        도로명  점자블록유무
0       전라남도  순천시       왕지4길       1
1       전라남도  순천시        지봉로       1
2       전라남도  순천시        지봉로       1
3       전라남도  순천시       왕지4길       1
4       전라남도  순천시       왕지4길       1
...      ...  ...        ...     ...
26649  인천광역시  남동구  인주대로849번길       1
26650  인천광역시  남동구       장승남로       1
26651  인천광역시  남동구   석정로497번길       1
26652  인천광역시  남동구  소래역남로16번길       1
26653  인천광역시  남동구  앵고개로851번길       0

[26654 rows x 4 columns]
             점자블록유무
count  26654.000000
mean       0.705785
std        0.455698
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
------------------------------
점자블록유무 비율 (%)
1    70.578525
0    29.421475
Name: 점자블록유무, dtype: float64

# 데이터기준일자에서 년도 출력

In [ ]:
pd_data['데이터기준일자'] = pd.to_datetime(pd_data['데이터기준일자'])
print(pd_data['데이터기준일자'].dtype)
print(pd_data['데이터기준일자'].dt.year)

datetime64[ns]
0        2021
1        2021
2        2021
3        2021
4        2021
         ...
26649    2022
26650    2022
26651    2022
26652    2022
26653    2022
Name: 데이터기준일자, Length: 26654, dtype: int64

In [ ]:
pd_data1 = pd_data.set_index(['시도명', '시군구명'])
print(pd_data1.head(5))
print(pd_data1.index)

            도로명            소재지도로명주소 소재지지번주소 횡단보도관리번호  횡단보도종류 자전거횡단도겸용여부  \
시도명  시군구명
전라남도 순천시   왕지4길     전라남도 순천시 왕지4길 6     NaN    S0423       1
     순천시    지봉로    전라남도 순천시 지봉로 629     NaN    S0424       1
     순천시    지봉로  전라남도 순천시 조례동 237-2     NaN    S0425       1
     순천시   왕지4길  전라남도 순천시 왕지4길 9-22     NaN    S0426       1
     순천시   왕지4길  전라남도 순천시 왕지4길 3-24     NaN    S0427       1

          고원식적용여부         위도          경도  차로수  ...  적색신호시간  교통섬유무 보도턱낮춤여부  \
시도명  시군구명                                      ...
전라남도 순천시        N  34.969218  127.525435    2  ...     NaN      N       Y
     순천시        N  34.968840  127.526797    2  ...     NaN      N       Y
     순천시        N  34.967889  127.527737    5  ...     NaN      N       Y
     순천시        N  34.968536  127.526836    2  ...     NaN      N       Y
     순천시        N  34.968849  127.526442    2  ...     NaN      N       Y

          점자블록유무 집중조명시설유무      관리기관명      관리기관전화번호    데이터기준일자   제공기관코드  \
시도명  시군구명
전라남도 순천시       Y           전라남도 순천시청  061-749-5919 2021-12-15  4820000
     순천시       Y           전라남도 순천시청  061-749-5919 2021-12-15  4820000
     순천시       Y           전라남도 순천시청  061-749-5919 2021-12-15  4820000
     순천시       Y           전라남도 순천시청  061-749-5919 2021-12-15  4820000
     순천시       Y           전라남도 순천시청  061-749-5919 2021-12-15  4820000

              제공기관명
시도명  시군구명
전라남도 순천시   전라남도 순천시
     순천시   전라남도 순천시
     순천시   전라남도 순천시
     순천시   전라남도 순천시
     순천시   전라남도 순천시

[5 rows x 26 columns]
MultiIndex([( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ( '전라남도', '순천시'),
            ...
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구'),
            ('인천광역시', '남동구')],
           names=['시도명', '시군구명'], length=26654)

# 횡단보도 종류별 수
- 01: 일반형 -> 23595
- 02: 대각선 -> 228
- 03: 스테거드 -> 314
- 04: 도류화 -> 2364
- 99: 기타 -> 153

In [ ]:
print(pd.value_counts(pd_data['횡단보도종류']))

1     23595
4      2364
3       314
2       228
99      153
Name: 횡단보도종류, dtype: int64

# 차로수에 따른 평균 횡단보도연장
- 차로수에 대한 평균 횡단보도연장 (길이) = 4.25m
- Outlayer발견
경기도 파주시 문산읍 당동1로 47  경기도 파주시 문산읍 당동리 941-1 차로수가 0이나, 횡단보도연장이 22m, 23m로 표기되어 있음

In [ ]:
x = pd_data['횡단보도연장'] / pd_data['차로수']
print(x[x < 50].mean())
print(x)

print(pd_data.loc[15640:15641, ['차로수', '횡단보도연장']]) # Outlayer
print(pd_data.loc[15640:15641,:])

4.248013134536162
0         3.5
1         5.5
2         3.0
3         4.0
4         4.5
         ...
26649    11.0
26650    14.0
26651    11.0
26652     5.0
26653     3.0
Length: 26654, dtype: float64
       차로수  횡단보도연장
15640    0    22.0
15641    0    23.0
       시도명 시군구명   도로명             소재지도로명주소                소재지지번주소 횡단보도관리번호  \
15640  경기도  파주시  당동1로  경기도 파주시 문산읍 당동1로 47  경기도 파주시 문산읍 당동리 941-1       10
15641  경기도  파주시  당동1로  경기도 파주시 문산읍 당동1로 47  경기도 파주시 문산읍 당동리 941-1       11

       횡단보도종류 자전거횡단도겸용여부 고원식적용여부         위도  ...  적색신호시간  교통섬유무  보도턱낮춤여부  \
15640       1          N       N  37.863835  ...    97.0      N        N
15641       1          N       N  37.863835  ...    97.0      N        N

       점자블록유무 집중조명시설유무 관리기관명      관리기관전화번호    데이터기준일자   제공기관코드    제공기관명
15640       Y        N  파주시청  031-940-5791 2021-10-13  4060000  경기도 파주시
15641       N        N  파주시청  031-940-5791 2021-10-13  4060000  경기도 파주시

[2 rows x 28 columns]