<a href="https://colab.research.google.com/github/Jinwooseol/Numpy-and-Pandas/blob/main/20220328_Pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Advantage
- Good for utilizing table
- Based on Numpy

# Terminology
- Table: **Data Frame (DF)**
- column: **Series**

Reference:
https://pandas.pydata.org/docs/reference/index.html#api

In [ ]:
import pandas as pd
import numpy as np
from numpy import random

In [ ]:
pd.__version__ # check the version

'1.3.5'

In [ ]:
def print_info(obj):
  print('type: ', type(obj))
  print('print: ')
  print(obj)

  print('ndim: ', obj.ndim)
  print('shape: ', obj.shape)
  print('size: ', obj.size)
  print('dtype: ', obj.dtype) # dtype: Data type
  print('array: ', obj.array)
  print('-'*20)

In [ ]:
s1 = pd.Series(5)
print_info(s1)

s2 = pd.Series('a') # print out index and element
print(s2) # dtype: object means string

s3 = pd.Series('abc')
print(s3)

type:  <class 'pandas.core.series.Series'>
print:
0    5
dtype: int64
ndim:  1
shape:  (1,)
size:  1
dtype:  int64
array:  <PandasArray>
[5]
Length: 1, dtype: int64
--------------------
0    a
dtype: object
0    abc
dtype: object

In [ ]:
list1= [1,2,3]
list2 = ['a','b','c']

s1 = pd.Series(list1) # ndarray
print(s1)
s2 = pd.Series(list2)
print(s2)

s3 = pd.Series(np.array(list1))
print(s3)

s1 = pd.Series(range(10))
s2 = pd.Series(np.arange(0,20,2))
print(s1)
print(s2)

0    1
1    2
2    3
dtype: int64
0    a
1    b
2    c
dtype: object
0    1
1    2
2    3
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
list3 = list1 + list2
s1 = pd.Series(list3)
print(s1) # Mixed list's type is object
# Uniform dtype like Numpy

0    1
1    2
2    3
3    a
4    b
5    c
6    a
7    b
8    c
dtype: object

In [ ]:
#Using Python's dict

d1 = dict(zip(list1, list2))
print(d1)
s1 = pd.Series(d1)
print(s1)

{1: 'a', 2: 'b', 3: 'c'}
1    a
2    b
3    c
dtype: object

In [ ]:
d2 = dict(zip(list2, list1))
s2 = pd.Series(d2)
print(d2)

print(zip(list1, list2))

{'a': 1, 'b': 2, 'c': 3}
<zip object at 0x7fdbd6504780>
[1, 2, 3, 'a', 'b', 'c']

# pd.Series(values list, index list)
- 결측치를 다루기에 편리함 (NaN)
- When occur **NaN**, dtype change to **float64**

In [ ]:
list1 = [1,2,3]
s1 = pd.Series(list1, index=['January', 'February', 'March'])
print(s1)

s1 = pd.Series(list1, ['a', 'b', 'c'])
print(s1)

# Low index number is not acceptable
# s1 = pd.Series(list1, ['a', 'b']) 
# print(s1)

d1 = pd.Series(s1, ['b','c','a','x'])
print(d1)

print(d1.index)
print(d1.reindex(['b','c','x','a'])) # Change index line (Not change the index)

January     1
February    2
March       3
dtype: int64
a    1
b    2
c    3
dtype: int64
b    2.0
c    3.0
a    1.0
x    NaN
dtype: float64
Index(['b', 'c', 'a', 'x'], dtype='object')
b    2.0
c    3.0
x    NaN
a    1.0
dtype: float64

In [ ]:
s1 = pd.Series([1,2,3],['a','b','c']) # Pandas type
print(s1)
print(type(s1))

a1 = s1.to_numpy() # Change Pandas to Numpy style  (Referencing) Not copy and paste
print(a1)
print(type(a1))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>
[1 2 3]
<class 'numpy.ndarray'>

# Indexing and slicing in Pandas
- get: Safe way for get element instead of just using integer indexing  
  If I called wrong index then, **get** return **None**

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)

s1 = pd.Series(a1, list('abcdef'))
print(s1)

# Indexing and slicing are same with Numpy
print(s1[0])
print(s1[0:3])
print(s1[s1%2 == 0])
print(s1[s1<7])

print(s1['c']) # key value
# print(s1['x']) -> Error    (Dangerous)

print(s1.get('c'))
print(s1.get('x')) # -> None (Safe)

a     8
b     5
c     7
d     9
e    10
f     6
dtype: int64
8
a    8
b    5
c    7
dtype: int64
a     8
e    10
f     6
dtype: int64
b    5
f    6
dtype: int64
7
7
None

In [ ]:
print(s1)
print(s1['c':'e']) # Include end key value
print(s1['a':'e':2]) # Step is also possible

a     8
b     5
c     7
d     9
e    10
f     6
dtype: int64
c     7
d     9
e    10
dtype: int64
a     8
c     7
e    10
dtype: int64

- **iloc**: integer location for indexing
- **loc**: location for non-integer indexing like using boolen list

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)

s1 = pd.Series(a1, list('abcdef'))
print(s1)
print(s1.iloc[4])    # = s1[4]
print(s1.iloc[0:5:2])
# print(s1.iloc[s1>6]) # -> Error 
print(s1.loc[s1<8])
print(s1.loc['b':'f':2])

# Q. Why use iloc and loc?
# A. Just option

a    10
b     5
c     6
d     7
e     8
f     9
dtype: int64
8
a    10
c     6
e     8
dtype: int64
b    5
c    6
d    7
dtype: int64
b    5
d    7
f    9
dtype: int64

# isin
- Boolen result of existance

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)

s1 = pd.Series(a1, list('abcdef'))
print(s1)
print(s1.isin([5,11,7]))
print(s1.index.isin(['d','e']))

a     5
b     9
c    10
d     6
e     7
f     8
dtype: int64
a     True
b    False
c    False
d    False
e     True
f    False
dtype: bool
[False False False  True  True False]

# where
- Conditional slicing method
- Keep shape

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)

s1 = pd.Series(a1, list('abcdef'))
print(s1)
print(s1[s1%2 == 0])        # remove NaN
print(s1.where(s1%2 == 0))  # keep shape

a     6
b     9
c     7
d     5
e    10
f     8
dtype: int64
a     6
e    10
f     8
dtype: int64
a     6.0
b     NaN
c     NaN
d     NaN
e    10.0
f     8.0
dtype: float64

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)

s1 = pd.Series(a1, list('abcdef'))
print(s1)

print(s1[lambda x: (x*3)%2 == 0])
print(s1[(s1*3)%2 == 0])

def myfunc(x):
  return (x**3) % 2 == 0

print(s1[myfunc])           # Function possible
print(s1[lambda x: [1,2,3]])
print(s1[[1,2,3]])

a     7
b    10
c     6
d     8
e     9
f     5
dtype: int64
b    10
c     6
d     8
dtype: int64
b    10
c     6
d     8
dtype: int64
b    10
c     6
d     8
dtype: int64
b    10
c     6
d     8
dtype: int64
b    10
c     6
d     8
dtype: int64

# random selection
- sample( N ): select N numbers randomly
- replace: repeatition acceptable

In [ ]:
s1 = pd.Series(np.arange(10))
print(s1)

print(s1.sample(5)) # random selection
print(s1.sample(frac=0.3)) # fraction
print(s1.sample(frac=0.3, replace=True))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
5    5
3    3
8    8
2    2
0    0
dtype: int64
5    5
4    4
6    6
dtype: int64
0    0
3    3
4    4
dtype: int64

- isna
- hasnans: property (Not method)
- dropna
- fillna: replace element NaN to input number
- replace:

In [ ]:
s1 = pd.Series(np.arange(5), list('abcde'))
print(s1)

s2 = s1.reindex(list('defjealz'))
print(s2)
print(s2.count())
print('-'*20)
print(s2.isna())  # If NaN then True, else False for each
print(s2.hasnans) # If NaN exist then True, else False   Property

print(s2.dropna()) # remove NaN
print(s2.fillna(100.0)) # replace NaN to 100.0
print(s2.replace(np.NaN, 0.0)) # Not In-place
print(s2)

a    0
b    1
c    2
d    3
e    4
dtype: int64
d    3.0
e    4.0
f    NaN
j    NaN
e    4.0
a    0.0
l    NaN
z    NaN
dtype: float64
4
--------------------
d    False
e    False
f     True
j     True
e    False
a    False
l     True
z     True
dtype: bool
True
d    3.0
e    4.0
e    4.0
a    0.0
dtype: float64
d      3.0
e      4.0
f    100.0
j    100.0
e      4.0
a      0.0
l    100.0
z    100.0
dtype: float64
d    3.0
e    4.0
f    0.0
j    0.0
e    4.0
a    0.0
l    0.0
z    0.0
dtype: float64
d    3.0
e    4.0
f    NaN
j    NaN
e    4.0
a    0.0
l    NaN
z    NaN
dtype: float64

In [ ]:
s3 = s2.fillna(100.0)
print(s3)
s3.replace(100.0, 0.0) # replace 100.0 to 0.0

d      3.0
e      4.0
f    100.0
j    100.0
e      4.0
a      0.0
l    100.0
z    100.0
dtype: float64

d    3.0
e    4.0
f    0.0
j    0.0
e    4.0
a    0.0
l    0.0
z    0.0
dtype: float64

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)
s1 = pd.Series(a1, list('abcdef'))
print(s1)
print(s1.describe()) # collection of properties

a     7
b    10
c     8
d     6
e     9
f     5
dtype: int64
count     6.000000
mean      7.500000
std       1.870829
min       5.000000
25%       6.250000
50%       7.500000
75%       8.750000
max      10.000000
dtype: float64

In [ ]:
print(s1.unique()) # set
print(s1.nunique()) # len(s1.unique())
print(s1.value_counts()) # 빈도수 분석 가능

[ 7 10  8  6  9  5]
6
7     1
10    1
8     1
6     1
9     1
5     1
dtype: int64

**cut**: reform the range  
- Similar with **linespace** in Numpy

In [ ]:
a1 = np.arange(5,11)
np.random.shuffle(a1)
s1 = pd.Series(a1, list('abcdef'))
print(s1)
print(pd.cut(s1, 3)) # split in 3 part

a     9
b     6
c     7
d     8
e     5
f    10
dtype: int64
a     (8.333, 10.0]
b    (4.995, 6.667]
c    (6.667, 8.333]
d    (6.667, 8.333]
e    (4.995, 6.667]
f     (8.333, 10.0]
dtype: category
Categories (3, interval[float64, right]): [(4.995, 6.667] < (6.667, 8.333] < (8.333, 10.0]]